{
    "openapi": "3.0.2",
    "info": {
        "title": "Application repository",
        "version": "1.0.0",
        "description": "Application repository API",
        "contact": {
            "name": "Nicolai Electronics",
            "url": "https://nicolaielectronics.nl",
            "email": "info@nicolaielectronics.nl"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://apps.tanmatsu.cloud/v1",
            "description": "Tanmatsu apps repository"
        }
    ],
    "paths": {
        "/apps/{slug}": {
            "summary": "Request the metadata of a specific app",
            "get": {
                "parameters": [
                    {
                        "name": "slug",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/app"
                                }
                            }
                        },
                        "description": "A single app object"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        },
                        "description": "App not found"
                    }
                }
            }
        },
        "/apps": {
            "summary": "Request a list of apps",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/app"
                                    }
                                }
                            }
                        },
                        "description": "A list of app objects"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        },
                        "description": "Category not found"
                    }
                }
            },
            "parameters": [
                {
                    "name": "amount",
                    "description": "Maximum amount of apps to return",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "name": "offset",
                    "description": "Amount of apps to skip",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "name": "category",
                    "description": "Optional category filter",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "required": false
                }
            ]
        },
        "/categories": {
            "summary": "Get the list of app categories",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "description": "List of category names"
                    }
                }
            }
        },
        "/information": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/information"
                                }
                            }
                        },
                        "description": "Information about the repository"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "app": {
                "description": "Information about an application package",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the application",
                        "maxLength": 128,
                        "minLength": 3,
                        "pattern": "^[A-Za-z0-9_\\- .!@#$%^&*()\\/\\\\]+$"
                    },
                    "description": {
                        "type": "string",
                        "description": "A short description of the app",
                        "maxLength": 256,
                        "minLength": 0,
                        "pattern": "^[A-Za-z0-9_\\- .!@#$%^&*()\\/\\\\]+$"
                    },
                    "categories": {},
                    "version": {
                        "type": "integer",
                        "description": "Latest published package version",
                        "minimum": 1
                    },
                    "icon": {
                        "type": "object",
                        "properties": {
                            "16x16": {
                                "type": "string"
                            },
                            "32x32": {
                                "type": "string"
                            },
                            "64x64": {
                                "type": "string"
                            }
                        },
                        "minProperties": 1,
                        "additionalProperties": false
                    },
                    "author": {
                        "description": "Author of the app",
                        "type": "string"
                    },
                    "license": {
                        "description": "License of the app as SPDX license identifier",
                        "type": "string"
                    },
                    "application": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "targets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "type": {
                                    "type": "string"
                                },
                                "executable": {
                                    "type": "string"
                                },
                                "assets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "additionalProperties": false
                        },
                        "minItems": 1
                    }
                },
                "required": [
                    "name",
                    "description",
                    "categories",
                    "version",
                    "icon",
                    "author",
                    "license",
                    "application"
                ],
                "additionalProperties": false,
                "example": {
                    "slug": "my_app",
                    "name": "My app",
                    "description": "Demonstration app for demonstrating the API",
                    "version": 1,
                    "icon": {
                        "16x16": "icon16.png",
                        "32x32": "icon32.png",
                        "64x64": "icon64.png"
                    },
                    "author": "Henk de Vries",
                    "license": "MIT",
                    "application": [
                        {
                            "targets": [
                                "tanmatsu",
                                "konsool"
                            ],
                            "type": "appfs",
                            "executable": "tanmatsu.bin",
                            "assets": []
                        }
                    ]
                }
            },
            "icon": {
                "description": "",
                "type": "object",
                "properties": {
                    "16x16": {
                        "description": "",
                        "type": "string"
                    },
                    "32x32": {
                        "description": "",
                        "type": "string"
                    },
                    "64x64": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "error": {
                "title": "Root Type for error",
                "description": "",
                "required": [
                    "message",
                    "errors"
                ],
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "array",
                        "items": {}
                    }
                },
                "example": {
                    "message": "not found",
                    "errors": [
                        {
                            "path": "/path",
                            "message": "not found"
                        }
                    ]
                }
            },
            "information": {
                "description": "Information about the repository",
                "required": [
                    "data_path"
                ],
                "type": "object",
                "properties": {
                    "data_path": {
                        "description": "",
                        "type": "string"
                    }
                }
            }
        }
    }
}