{
    "openapi": "3.0.2",
    "info": {
        "title": "Application repository",
        "version": "1.0.0",
        "description": "Application repository API",
        "contact": {
            "name": "Nicolai Electronics",
            "url": "https://nicolaielectronics.nl",
            "email": "info@nicolaielectronics.nl"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://apps.tanmatsu.cloud/v1",
            "description": "Tanmatsu application repository"
        },
        {
            "url": "http://localhost:8001",
            "description": "Development server"
        }
    ],
    "paths": {
        "/projects/{slug}": {
            "summary": "Request the metadata of a specific project",
            "get": {
                "parameters": [
                    {
                        "name": "slug",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/project"
                                }
                            }
                        },
                        "description": "A single project object"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        },
                        "description": "App not found"
                    }
                }
            }
        },
        "/projects": {
            "summary": "Request a list of projects",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "slug": {
                                                "type": "string",
                                                "description": "Slug name of the project",
                                                "maxLength": 128,
                                                "minLength": 3,
                                                "pattern": "^[A-Za-z0-9_.]+$"
                                            },
                                            "project": {
                                                "$ref": "#/components/schemas/project"
                                            }
                                        },
                                        "required": [
                                            "slug",
                                            "project"
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "A list of project objects"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        },
                        "description": "Category not found"
                    }
                }
            },
            "parameters": [
                {
                    "name": "amount",
                    "description": "Maximum amount of apps to return",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "name": "offset",
                    "description": "Amount of apps to skip",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "name": "category",
                    "description": "Optional category filter",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "name": "device",
                    "description": "Optional device filter",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "required": false
                }
            ]
        },
        "/categories": {
            "summary": "Get the list of project categories",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "description": "List of category names"
                    }
                },
                "parameters": [
                    {
                        "name": "device",
                        "description": "Optional device filter",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ]
            }
        },
        "/information": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/information"
                                }
                            }
                        },
                        "description": "Information about the repository"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "project": {
                "description": "Information about a project",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the application",
                        "maxLength": 128,
                        "minLength": 3,
                        "pattern": "^[A-Za-z0-9_\\- .!@#$%^&*()\\/\\\\]+$"
                    },
                    "description": {
                        "type": "string",
                        "description": "A short description of the project",
                        "maxLength": 256,
                        "minLength": 0,
                        "pattern": "^[A-Za-z0-9_\\- .!@#$%^&*()\\/\\\\]+$"
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "version": {
                        "type": "string",
                        "description": "Semantic version of the application package"
                    },
                    "icon": {
                        "type": "object",
                        "properties": {
                            "8x8": {
                                "type": "string"
                            },
                            "16x16": {
                                "type": "string"
                            },
                            "32x32": {
                                "type": "string"
                            },
                            "64x64": {
                                "type": "string"
                            }
                        },
                        "minProperties": 1,
                        "additionalProperties": true
                    },
                    "author": {
                        "description": "Author of the project",
                        "type": "string"
                    },
                    "license_type": {
                        "description": "License of the project as SPDX license identifier",
                        "type": "string"
                    },
                    "license_file": {
                        "description": "Filename for a license text file",
                        "type": "string"
                    },
                    "repository": {
                        "type": "string",
                        "description": "Repository URL",
                        "maxLength": 128,
                        "minLength": 3,
                        "pattern": "^[A-Za-z0-9_\\- .!@#$%^&*()\\/\\\\]+$"
                    },
                    "application": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "targets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "type": {
                                    "type": "string"
                                },
                                "revision": {
                                    "type": "integer"
                                },
                                "executable": {
                                    "type": "string"
                                },
                                "interpreter": {
                                    "type": "string"
                                },
                                "assets": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "source_file": {
                                                "type": "string"
                                            },
                                            "destination_file": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "source_file",
                                            "destination_file"
                                        ]
                                    }
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "targets",
                                "type"
                            ]
                        },
                        "minItems": 1
                    }
                },
                "required": [
                    "name",
                    "description",
                    "categories",
                    "version",
                    "icon",
                    "author",
                    "license_type",
                    "application"
                ],
                "additionalProperties": false,
                "example": {
                    "name": "My project",
                    "description": "Demonstration project for demonstrating the API",
                    "version": "1.0.0",
                    "icon": {
                        "16x16": "icon16.png",
                        "32x32": "icon32.png",
                        "64x64": "icon64.png"
                    },
                    "author": "Henk de Vries",
                    "license_type": "MIT",
                    "application": [
                        {
                            "targets": [
                                "tanmatsu",
                                "konsool"
                            ],
                            "type": "appfs",
                            "revision": 1,
                            "executable": "tanmatsu.bin",
                            "assets": [
                                {
                                    "source_file": "picture.png",
                                    "destination_file": "picture.png"
                                }
                            ]
                        }
                    ]
                }
            },
            "icon": {
                "description": "",
                "type": "object",
                "properties": {
                    "16x16": {
                        "description": "",
                        "type": "string"
                    },
                    "32x32": {
                        "description": "",
                        "type": "string"
                    },
                    "64x64": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "error": {
                "title": "Root Type for error",
                "description": "",
                "required": [
                    "message",
                    "errors"
                ],
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "array",
                        "items": {}
                    }
                },
                "example": {
                    "message": "not found",
                    "errors": [
                        {
                            "path": "/path",
                            "message": "not found"
                        }
                    ]
                }
            },
            "information": {
                "description": "Information about the repository",
                "required": [
                    "data_path"
                ],
                "type": "object",
                "properties": {
                    "data_path": {
                        "description": "Path to the repository files",
                        "type": "string"
                    },
                    "version": {
                        "description": "Repository version",
                        "type": "integer"
                    }
                }
            }
        }
    }
}